*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(WIN_20240112_13_41_25_Pro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.container{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
}

.nav{
    display: flex;
    gap: 20px;
}

.nav a{
    color: black;
    text-decoration: none;
}

.nav a:hover{
    color: blue;
    transform: scale(1.1);
}

.titulo h1{
    font-size: 40px;
}

.btn{
    text-decoration: none;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
}

.btn:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
}