.capa1 {
    width: 50%;
    border: 2px solid black;
    font-size: 100%;
}

.capa2 {
    width: 33%;
    border: 2px solid red;
    font-size: 120%;
}

.capa3 {
    width: 25%;
    border: 2px solid blue;
    font-size: 80%;
}